@model ShopCartSoftware.Models.VentaCabecera

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VentaCabecera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @foreach (var item in Model.Products)
            {
                <div class="row">
                    <div class="col-3">

                        <img src="@("~/uploads/img/product/" + item.ImageName)" asp-append-version="true" class="w-auto h-auto" />
                    </div>
                    <div class="col-3">
                        <p class="font-weight-bold">
                            @item.Title
                        </p>
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="font-weight-bold">
                            @item.Price
                        </p>

                    </div>
                    <div class="col-3">
                        <button type="button">+ Agregar al Carrito</button>

                    </div>


                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
